# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### *Our goals today are to be able to*: <br/>

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [1]:
!pwd
!ls -al data

/c/Users/shawj/fis/dc-ds-060120/mod-1/day-4
total 18
drwxr-xr-x 1 shawj 197609     0 Jun  5 11:03 .
drwxr-xr-x 1 shawj 197609     0 Jun  5 12:35 ..
-rw-r--r-- 1 shawj 197609   101 Jun  5 11:03 ds_chars.csv
-rw-r--r-- 1 shawj 197609 11328 Jun  5 11:03 heart.csv
-rw-r--r-- 1 shawj 197609   136 Jun  5 11:03 states.csv

In [2]:
!head -n5 data/heart.csv

ï»¿age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

In [3]:
import pandas as pd
uci = pd.read_csv('data/heart.csv')

In [4]:
## let's take a look at the data very quick
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
uci.info()

#the datatype for a column for it to give a Dtype other than 'object'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

#### The `.columns` and `.shape` Attributes

In [6]:
## How many columns and rows do we have in this dataset?

In [7]:
## What are the column names?

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [8]:
## what are the dtypes in columns?
uci.dtypes
## is there any missing values?

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [9]:
## What are the descriptive statistics?

__Some extra readings on `nan`, `None`, `NaN`, `NAN`__

- [Navigating The Hell of NaNs in Python](https://towardsdatascience.com/navigating-the-hell-of-nans-in-python-71b12558895b)

- [What is the Difference Between NaN and None](https://stackoverflow.com/questions/17534106/what-is-the-difference-between-nan-and-none)

- [What's the Difference between nan, NaN, and NAN](https://stackoverflow.com/questions/17825707/whats-the-difference-between-nan-nan-and-nan)

- [Understand None in Python/Python3](https://appdividend.com/2019/08/16/null-object-in-python-example-python-null-value-tutorial/)

In [10]:
import numpy as np
np.nan == np.nan

False

In [11]:
np.nan<0

False

In [12]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [13]:
uci.mean(axis=1) #mean by row
#You can use that for the heroes project

0      42.878571
1      43.892857
2      39.600000
3      42.771429
4      50.114286
         ...
298    40.514286
299    40.085714
300    39.885714
301    31.585714
302    43.000000
Length: 303, dtype: float64

#### The Axis Variable

In [14]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [15]:
uci['age'].value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [16]:
# Your code here!

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [45]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [46]:
animal_outcomes.isna()  #Creats a mask, which is the same shape as the dataframe.  This is a "boolean mask".

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,False,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
117965,False,False,False,False,False,False,False,False,False,False,False,False
117966,False,False,False,False,False,False,False,False,False,False,False,False
117967,False,True,False,False,False,False,False,False,False,False,False,False
117968,False,False,False,False,False,False,False,False,False,True,False,False
117969,False,True,False,False,False,False,True,False,False,False,False,False

In [19]:
animal_outcomes[animal_outcomes.isna().Name]

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
6,A684617,NaN,07/27/2014 09:00:00 AM,07/27/2014 09:00:00 AM,07/26/2012,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black
8,A681036,NaN,06/11/2014 05:11:00 PM,06/11/2014 05:11:00 PM,06/09/2014,Transfer,Partner,Cat,Intact Male,2 days,Domestic Shorthair Mix,Brown Tabby
11,A773792,NaN,06/05/2018 03:30:00 PM,06/05/2018 03:30:00 PM,05/05/2018,Euthanasia,Suffering,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby
12,A725795,NaN,05/03/2016 12:39:00 PM,05/03/2016 12:39:00 PM,04/15/2016,Euthanasia,Underage,Other,Unknown,2 weeks,Opossum,Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
117950,A818219,NaN,06/04/2020 09:41:00 AM,06/04/2020 09:41:00 AM,06/03/2019,Disposal,NaN,Other,Unknown,1 year,Raccoon,Gray/Black
117951,A818024,NaN,06/04/2020 11:20:00 AM,06/04/2020 11:20:00 AM,05/01/2020,Transfer,Partner,Dog,Intact Female,4 weeks,Chihuahua Shorthair,Black/White
117961,A818230,NaN,06/04/2020 02:48:00 PM,06/04/2020 02:48:00 PM,06/04/2019,Euthanasia,Rabies Risk,Other,Unknown,NaN,Bat,Brown
117967,A818294,NaN,06/05/2020 10:51:00 AM,06/05/2020 10:51:00 AM,06/05/2019,Euthanasia,Suffering,Other,Unknown,1 year,Fox,Brown/Gray
117969,A818229,NaN,06/05/2020 11:55:00 AM,06/05/2020 11:55:00 AM,10/04/2019,Return to Owner,NaN,Dog,Neutered Male,8 months,Great Dane,Black/White

In [47]:
animal_outcomes.dropna

<bound method DataFrame.dropna of        Animal ID         Name                DateTime               MonthYear  \
0        A794011        Chunk  05/08/2019 06:20:00 PM  05/08/2019 06:20:00 PM
1        A776359        Gizmo  07/18/2018 04:02:00 PM  07/18/2018 04:02:00 PM
2        A720371        Moose  02/13/2016 05:59:00 PM  02/13/2016 05:59:00 PM
3        A674754          NaN  03/18/2014 11:47:00 AM  03/18/2014 11:47:00 AM
4        A689724   *Donatello  10/18/2014 06:52:00 PM  10/18/2014 06:52:00 PM
...          ...          ...                     ...                     ...
117965   A812489    White Sox  06/05/2020 08:27:00 AM  06/05/2020 08:27:00 AM
117966   A814648  *Strawberry  06/05/2020 08:23:00 AM  06/05/2020 08:23:00 AM
117967   A818294          NaN  06/05/2020 10:51:00 AM  06/05/2020 10:51:00 AM
117968   A818119        Benji  06/05/2020 11:31:00 AM  06/05/2020 11:31:00 AM
117969   A818229          NaN  06/05/2020 11:55:00 AM  06/05/2020 11:55:00 AM

       Date of Birth     Outcome Type Outcome Subtype Animal Type  \
0         05/02/2017        Rto-Adopt             NaN         Cat
1         07/12/2017         Adoption             NaN         Dog
2         10/08/2015         Adoption             NaN         Dog
3         03/12/2014         Transfer         Partner         Cat
4         08/01/2014         Adoption             NaN         Cat
...              ...              ...             ...         ...
117965    12/23/2009         Adoption          Foster         Cat
117966    03/03/2019         Adoption          Foster         Dog
117967    06/05/2019       Euthanasia       Suffering       Other
117968    06/02/2010         Transfer         Partner         Dog
117969    10/04/2019  Return to Owner             NaN         Dog

       Sex upon Outcome Age upon Outcome                               Breed  \
0         Neutered Male          2 years              Domestic Shorthair Mix
1         Neutered Male           1 year             Chihuahua Shorthair Mix
2         Neutered Male         4 months  Anatol Shepherd/Labrador Retriever
3           Intact Male           6 days              Domestic Shorthair Mix
4         Neutered Male         2 months              Domestic Shorthair Mix
...                 ...              ...                                 ...
117965    Spayed Female         10 years                  Domestic Shorthair
117966    Spayed Female           1 year                   Staffordshire Mix
117967          Unknown           1 year                                 Fox
117968    Neutered Male              NaN                            Shih Tzu
117969    Neutered Male         8 months                          Great Dane

                    Color
0       Brown Tabby/White
1             White/Brown
2                    Buff
3            Orange Tabby
4                   Black
...                   ...
117965        Black/White
117966        Brown/White
117967         Brown/Gray
117968        Sable/Black
117969        Black/White

[117970 rows x 12 columns]>

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [48]:
def successor(x):
    return x + 1

In [49]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [23]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

[Difference Between Applymap, Map, Apply](https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas)

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [24]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [27]:
uci.groupby('sex').head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1

#### `.groups` and `.get_group()`

In [28]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [35]:
uci.groupby('sex').get_group(0) # .tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
11,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [36]:
uci.groupby('sex').std()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,9.409396,0.972427,19.311119,65.088946,0.332455,0.557150,20.047969,0.422503,1.119844,0.593736,0.881026,0.441290,0.435286
1,8.883803,1.059064,16.658246,42.782392,0.366955,0.510754,24.130882,0.484505,1.174632,0.627378,1.074082,0.659949,0.498626

Exercise: Tell me the average cholesterol level for those with heart disease.

In [43]:
# Your code here!
#Took me a while to figure out what was going on, "target=1" means "no heart disease".  Ref: https://www.kaggle.com/ronitf/heart-disease-uci/discussion/101018

uci.loc[uci['target']==0,'chol'].mean()

251.08695652173913

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [141]:
# try: 
#     animal_outcomes.drop(['Age upon Outcome'],inplace=True,axis=1)
# except:
#     None

#animal_outcomes.Age[0].days extracts the "days" for the age. 
#I'm going to just apply that over the age column, then groupby.  Which I hate but I don't know a better way to do it. 

# animal_outcomes['Age']=animal_outcomes.Age.apply(lambda x: x.days)


#animal_outcomes.groupby('Animal Type').Age.mean()
animal_outcomes.tail()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Breed,Color,Age
117965,A812489,White Sox,2020-06-05 08:27:00,06/05/2020 08:27:00 AM,2009-12-23,Adoption,Foster,Cat,Spayed Female,Domestic Shorthair,Black/White,3817
117966,A814648,*Strawberry,2020-06-05 08:23:00,06/05/2020 08:23:00 AM,2019-03-03,Adoption,Foster,Dog,Spayed Female,Staffordshire Mix,Brown/White,460
117967,A818294,NaN,2020-06-05 10:51:00,06/05/2020 10:51:00 AM,2019-06-05,Euthanasia,Suffering,Other,Unknown,Fox,Brown/Gray,366
117968,A818119,Benji,2020-06-05 11:31:00,06/05/2020 11:31:00 AM,2010-06-02,Transfer,Partner,Dog,Neutered Male,Shih Tzu,Sable/Black,3656
117969,A818229,NaN,2020-06-05 11:55:00,06/05/2020 11:55:00 AM,2019-10-04,Return to Owner,NaN,Dog,Neutered Male,Great Dane,Black/White,245

In [143]:
animal_outcomes.loc[animal_outcomes['DateTime']==animal_outcomes['MonthYear'].apply()]

Neutered Male    41421
Spayed Female    37221
Intact Male      14996
Intact Female    14601
Unknown           9727
Name: Sex upon Outcome, dtype: int64

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values='sex', columns='target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on='age',
          lsuffix='_A',
          rsuffix='_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [41]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

NameError: name 'ds_chars' is not defined

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here