In [1]:
import pandas as pd

In [28]:
df=pd.DataFrame(pd.read_pickle('exam_data.pkl'))
df_sorted=df.sort_values(by=['name','score'],ascending=['False','True'])

df_sorted.head(200)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
4      Emily    9.0         2      no
3      James    NaN         3      no
9      Jonas   19.0         1     yes
2  Katherine   16.5         2     yes
8      Kevin    8.0         2      no
7      Laura    NaN         1      no
6    Matthew   14.5         1     yes
5    Michael   20.0         3     yes

In [24]:
import beautifulsoup

SyntaxError: invalid syntax (<ipython-input-24-571757a0de79>, line 1)

In [25]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\shawj\.conda\envs\learn-env\lib\site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\shawj\.conda\envs\learn-env\lib\site-packages (from beautifulsoup4) (1.9.3)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import pandas as pd 
df = pd.DataFrame(pd.read_pickle('exam_data.pkl'))
df_sorted = df.sort_values("name", ascending = False).sort_values("score")

df_sorted.head(30)

        name  score  attempts qualify
8      Kevin    8.0         2      no
4      Emily    9.0         2      no
1       Dima    9.0         3      no
0  Anastasia   12.5         1     yes
6    Matthew   14.5         1     yes
2  Katherine   16.5         2     yes
9      Jonas   19.0         1     yes
5    Michael   20.0         3     yes
7      Laura    NaN         1      no
3      James    NaN         3      no