In [7]:
import seaborn as sns
import pandas as pd
calls=pd.read_pickle('calls.p')

In [11]:
calls.describe()

          Calls      Counts
count   8.00000    8.000000
mean    6.50000  125.000000
std     2.44949  112.028058
min     3.00000    2.000000
25%     4.75000   37.500000
50%     6.50000   96.500000
75%     8.25000  215.250000
max    10.00000  304.000000

In [13]:
def ope(path):
    with open(path, 'rb') as file:
        try:
            while True:
                yield pickle.load(file)
        except EOFError:
            pass

In [14]:
ope('calls.p')