In [6]:
import pandas as pd
df1=pd.DataFrame({'SN':[1,2,3],'first':['a','a1','a2'],'second':['la','la1','la2']})

In [3]:
df1.head()

   SN first second
0   1     a     la
1   2    a1    la1
2   3    a2    la2

In [5]:
df2=pd.DataFrame({'SN':[1,2,3],'first':['b','b1','b2'],'second':['lb','lb1','lb2']})

In [8]:
pd.merge(df1,df2,on='first',how='outer')

   SN_x first second_x  SN_y second_y
0   1.0     a       la   NaN      NaN
1   2.0    a1      la1   NaN      NaN
2   3.0    a2      la2   NaN      NaN
3   NaN     b      NaN   1.0       lb
4   NaN    b1      NaN   2.0      lb1
5   NaN    b2      NaN   3.0      lb2

In [9]:
pd.concat([df1,df2])

   SN first second
0   1     a     la
1   2    a1    la1
2   3    a2    la2
0   1     b     lb
1   2    b1    lb1
2   3    b2    lb2

In [10]:
pd.merge(df1,df2,on=['first','second'])

Empty DataFrame
Columns: [SN_x, first, second, SN_y]
Index: []